!!! 5
%html{ :lang => "en" }

  %head

    %meta{ :charset => "utf-8" }
    %link{ :rel => "stylesheet", :href => "/site.css",  :type => "text/css"  }
    %link{ :rel => "shortcut icon",  :href => "/favicon.ico" }
    %script{:type => "text/javascript", :src  => "/jquery-1.4.js"}

    :javascript
      $(document).ready(function() {
      $('.packages tbody tr:odd').addClass('odd');
      $('.packages tbody tr:even').addClass('even');
      });

    %title Ingest Report for #{@hostname}

  %body

    %h1 Ingest Report for #{@hostname}: #{@paginator.count} Digital Objects

    %br
      #{@paginator.comment}
    %br

    %form{ :method => 'get' }
      %fieldset
        %label{ :for =>  'from-date', :style => 'margin-left: 0;' } Date:
        %input{ :name => 'from-date', :type => 'text', :value => "", :placeholder => "2013-01-01", :style => "width: 8em;" }
        %input{ :name => 'to-date',   :type => 'text', :value => "", :placeholder => "2013-12-31", :style => "width: 8em;" }

        %label{ :for =>  'ids' } ID:
        %input{ :name => 'ids', :type => 'text', :value => "", :style => "width: 8em;" }

        %label{ :for =>  'title' } Title:
        %input{ :name => 'title', :type => 'text', :value => "", :style => "width: 20em;"  }

        %label{ :for =>   'content-type' } Content Type:
        %select{ :name => 'content-type' }
          %option{ :value => ""                                } Any
          %option{ :value => "islandora:sp_basic_image"        } Basic Image
          %option{ :value => "islandora:bookCModel"            } Book
          %option{ :value => "islandora:sp_large_image_cmodel" } Large Image
          %option{ :value => "islandora:sp_pdf"                } PDF

        %label{ :for =>   'status' } Status:
        %select{ :name => 'status' }
          %option{ :value => ""        } Any
          %option{ :value => "warning" } Warning
          %option{ :value => "error"   } Error

        %input{ :type => 'hidden', :name => 'before', :value => '' }
        %input{ :type => 'hidden', :name => 'after',  :value => '' }
        %br
        %br
        %input{ :style => 'align: right;',  :type => 'submit', :value => "Filter Ingest Data" }

    %br

    / make these bolder, larger, give more space

    - if @paginator.is_first_page_list?
      &lArr;&lArr; First
    - else
      %a{ :href => @paginator.first_page_list }
        &lArr;&lArr; First

    - if @paginator.has_previous_page_list?
      %a{ :href => @paginator.previous_page_list }
        &larr; Previous
    - else
      &larr; Previous

    &equiv;

    - if @paginator.has_next_page_list?
      %a{ :href => @paginator.next_page_list }
        Next &rarr;
    - else
      Next &rarr;

    - if @paginator.is_last_page_list?
      Last &rArr;&rArr;
    - else
      %a{ :href => @paginator.last_page_list }
        Last &rArr;&rArr;
    %br

    %table{ :class => 'packages' }
      %thead
        %tr
          %th ID
          %th{ :style => "width:10%;" } Date
          %th{ :style => "width:10%;" } Status
          %th{ :style => "width:12%;" } Package
          %th{ :style => "width:12%;" } Digitool
          %th{ :style => "width:56%;" } Title
      %tbody
        - @packages.each do |p|
          %tr
            %td #{p[:id]}

            %td{ :style => 'white-space:nowrap;' }
              #{p.time_started.strftime('%F %T')}

            %td{ :style => 'white-space:nowrap;' }
              %a{ :href => "/packages/#{p[:id]}" }
                - case
                - when p.errors?
                  %img{ :src => "/failure.png" }
                  error
                - when p.warnings?
                  %img{ :src => "/warning.png" }
                  warning
                - else
                  %img{ :src => "/success.png" }
                  success

            %td{ :style => 'white-space:nowrap;' }
              - if p.success
                %a{ :target => "islandora", :href => "http://#{@hostname}/islandora/object/#{p.islandora_pid}" }
                  #{p.package_name.to_s + " &rArr;"}
              - else
                #{p.package_name}

            %td{ :style => 'white-space:nowrap;' }
              - if p.digitool_id
                %a{ :target => "digitool", :href => "http://digitool.fcla.edu/R/?func=dbin-jump-full&object_id=#{p.digitool_id}" }
                  #{p.digitool_id.to_s + " &rArr;"}

            %td{ :style => 'white-space:nowrap;' }
              #{p.title or ''}
