!!! 5
%html{ :lang => "en" }

  %head

    %meta{ :charset => "utf-8" }
    %link{ :rel => "stylesheet", :href => "/site.css",  :type => "text/css"  }
    %link{ :rel => "shortcut icon",  :href => "/favicon.ico" }
    %script{:type => "text/javascript", :src  => "/jquery-1.4.js"}

    :javascript
      $(document).ready(function() {
      $('.packages tbody tr:odd').addClass('odd');
      $('.packages tbody tr:even').addClass('even');
      });

    %title Ingest Report

  %body

    %h1 Ingest Report for #{@hostname}


    %form{ :method => 'get' }
      %fieldset
        %label{ :for => 'date' } Date:
        %input{ :name => 'date', :type => 'text', :value => "" }

        %label{ :for => 'title' } Title:
        %input{ :name => 'title', :type => 'text', :value => "" }
        %input{ :type => 'submit', :value => 'search' }


    - if @paginator.is_first_page?
      << first
    - else
      %a{ :href => @paginator.first_page }
        << first

    - if @paginator.has_previous_page?
      %a{ :href => @paginator.previous_page }
        < prev #{'|'}
    - else
      < prev #{'|'}

    - if @paginator.has_next_page?
      %a{ :href => @paginator.next_page }
        | next >
    - else
      | next >

    - if @paginator.is_last_page?
      last >>
    - else
      %a{ :href => @paginator.last_page }
        last >>
    %br


    %table{ :class => 'packages' }
      %thead
        %tr
          %th{ :style => "width:12%;" } Date
          %th{ :style => "width:12%;" } Status
          %th{ :style => "width:12%;" } Package
          %th{ :style => "width:12%;" } Digitool
          %th{ :style => "width:52%;" } Title
      %tbody
        - @packages.each do |p|
          %tr
            %td #{p.time_started.strftime('%F %T')}
            %td #{p.admin_status_url}
            %td #{p.islandora_description_link(p.package_name + ' &rArr;', 'target="islandora"')}
            %td #{p.digitool_link("#{p.digitool_id} &rArr;", 'target="digitool"') or ''}
            %td #{p.title or ''}
