!!! 5
%html{ :lang => "en" }

  %head

    %meta{ :charset => "utf-8" }
    %link{ :rel => "shortcut icon",  :href => "/images/favicon.ico" }
    %link{ :rel => "stylesheet", :href => "/site.css",  :type => "text/css"  }

    %title Ingest Report on #{@hostname} for Package #{@package.package_name}

  %body

    %h1 Ingest  #{@package.success ? 'Success' : 'Failure' } Report for Package #{@package.package_name} on #{@hostname}

    - if @paginator.has_previous_page?
      %a{ :href => @paginator.previous_page }
        &larr; Previous
    - else
      &larr; Previous

    &equiv;

    %a{ :href => @paginator.up_page }
      Package List

    &equiv;

    - if @paginator.has_next_page?
      %a{ :href => @paginator.next_page }
        Next &rarr;
    - else
      Next &rarr;
    %br

    - if @package.title
      Title: #{@package.title}
    %br

    - if @package.digitool_id
      DigiTool ID:
      %a{ :target => "digitool", :href => "http://digitool.fcla.edu/R/?func=dbin-jump-full&object_id=#{@package.digitool_id}" }
        #{@package.digitool_id.to_s + " &rArr;"}
      %br

    - if @package.islandora_pid
      Islandora ID:
      - if @on_islandora == :present
        %a{ :target => "islandora", :href => "http://#{@hostname}/islandora/object/#{@package.islandora_pid}" }
          #{@package.islandora_pid + " &rArr;"}
      - else
        #{@package.islandora_pid}

      %br

    - if @package.success
      - case @on_islandora
      - when :present
        %a{ :target => "islandora", :href => "http://#{@hostname}/islandora/object/#{@package.islandora_pid}" }
          %img{ :src => "http://#{@hostname}/islandora/object/#{@package.islandora_pid}/datastream/TN/view" }
      - when :missing
        This package is no longer present on islandora.
      - when :error
        Islandora cannot be reached at the moment - can't access datastreams for display.
      %br


    Ingest Date:  #{@package.time_started.strftime('%F %T')}
    %br

    Processing Time: #{@elapsed}
    %br

    Raw Ingest Size: #{sprintf("%5.2f MB", @package.bytes_ingested/(1024.0*1024.0))}
    %br

    Content Type: #{@package.content_model_title}
    %br

    - unless @components.empty?
      Component Objects (#{@components.length}): #{@components.join(', ')}
      %br

    - unless @purls.empty?
      Purls: #{@purls.join(', ')}
      %br

    - unless @collections.empty?
      Islandora Collections: #{@collections.join(', ')}
      %br

    - if @package.success and @on_islandora == :present
      Datastreams: #{@datastreams.join(', ')}
      %br

    - if @package.errors?
      %h2 Package Errors
      - @package.get_errors.each do |err|
        #{err}
        %br

    - if @package.warnings?
      %h2 Package Warnings
      - @package.get_warnings.each do |warn|
        #{warn}
        %br
