!!! 5
%html{ :lang => "en" }

  %head

    %meta{ :charset => "utf-8" }
    %link{ :rel => "stylesheet", :href => "/site.css",  :type => "text/css"  }
    %link{ :rel => "shortcut icon",  :href => "/favicon.ico" }

    %title Batch Ingest Report

  %body

    %h1 Batch Ingest Report for #{@hostname}

    %table
      %thead
        %tr
          %th Date
          %th Status
          %th Package
          %th Title
      %tbody
      - @packages.each do |p|
        %tr
          %td #{p.time_started.strftime('%F %T')}
          %td #{p.admin_status_url}
          %td #{p.islandora_link}
          %td #{p.title or ''}
