!!! 5
%html{ :lang => "en" }

  %head

    %meta{ :charset => "utf-8" }
    %link{ :rel => "stylesheet", :href => "/site.css",  :type => "text/css"  }
    %link{ :rel => "shortcut icon",  :href => "/favicon.ico" }
    %script{:type => "text/javascript", :src  => "/jquery-1.4.js"}

    :javascript
      $(document).ready(function() {
      $('.packages tbody tr:odd').addClass('odd');
      $('.packages tbody tr:even').addClass('even');
      });

    %title Ingest Report

  %body

    %h1 Ingest Report for #{@hostname}: #{@paginator.count} Digital Objects


    %form{ :method => 'get' }
      %fieldset
        %label{ :for => 'date' } Date:
        %input{ :name => 'date', :type => 'text', :value => "" }

        %label{ :for => 'title' } Title:
        %input{ :name => 'title', :type => 'text', :value => "" }
        %input{ :type => 'submit', :value => "doesn't search yet" }


    - if @paginator.is_first_page_list?
      << first
    - else
      %a{ :href => @paginator.first_page_list }
        << first

    - if @paginator.has_previous_page_list?
      %a{ :href => @paginator.previous_page_list }
        < prev #{'|'}
    - else
      < prev #{'|'}

    - if @paginator.has_next_page_list?
      %a{ :href => @paginator.next_page_list }
        | next >
    - else
      | next >

    - if @paginator.is_last_page_list?
      last >>
    - else
      %a{ :href => @paginator.last_page_list }
        last >>
    %br


    %table{ :class => 'packages' }
      %thead
        %tr
          %th{ :style => "width:10%;" } Date
          %th{ :style => "width:10%;" } Status
          %th{ :style => "width:12%;" } Package
          %th{ :style => "width:12%;" } Digitool
          %th{ :style => "width:56%;" } Title
      %tbody
        - @packages.each do |p|
          %tr
            %td{ :style => 'white-space:nowrap;' }
              #{p.time_started.strftime('%F %T')}

            %td{ :style => 'white-space:nowrap;' }
              %a{ :href => "/packages/#{p[:id]}" }
                - case
                - when p.errors?
                  %img{ :src => "/failure.png" }
                  error
                - when p.warnings?
                  %img{ :src => "/warning.png" }
                  warning
                - else
                  %img{ :src => "/success.png" }
                  success

            %td{ :style => 'white-space:nowrap;' }
              - if p.success
                %a{ :target => "islandora", :href => "http://#{@hostname}/islandora/object/#{p.islandora_pid}" }
                  #{p.package_name.to_s + " &rArr;"}
              - else
                #{p.package_name}

            %td{ :style => 'white-space:nowrap;' }
              - if p.digitool_id
                %a{ :target => "digitool", :href => "http://digitool.fcla.edu/R/?func=dbin-jump-full&object_id=#{p.digitool_id}" }
                  #{p.digitool_id.to_s + " &rArr;"}

            %td{ :style => 'white-space:nowrap;' }
              #{p.title or ''}
