!!! 5
%html{ :lang => "en" }

  %head

    %meta{ :charset => "utf-8" }
    %link{ :rel => "stylesheet", :href => "/site.css",  :type => "text/css"  }
    %link{ :rel => "shortcut icon",  :href => "/favicon.ico" }
    %script{:type => "text/javascript", :src  => "/jquery-1.4.js"}

    :javascript
      $(document).ready(function() {
      $('.packages tbody tr:odd').addClass('odd');
      $('.packages tbody tr:even').addClass('even');
      });

    :javascript
      function clearForm($form) {
      $form.find('input:text, input:password, input:file, select, textarea').val('');
      $form.find('input:radio, input:checkbox').removeAttr('checked').removeAttr('selected');
      };

    %title Ingest Report for #{@hostname}

  %body

    %h1 Ingest Report for #{@hostname}: #{@paginator.count} Digital Objects Selected of #{@paginator.total}

    %form{ :method => 'get', :id => 'filter' }
      %fieldset

        %label{ :for =>  'from-date', :style => 'margin-left: 0;' } Date:
        %input{ :name => 'from-date', :style => "width: 8em;", :type => 'text', :value => @paginator.params["from-date"], :placeholder => "1970-01-01"            }
        %input{ :name => 'to-date',   :style => "width: 8em;", :type => 'text', :value => @paginator.params["to-date"],   :placeholder => Time.now.strftime('%F') }

        %label{ :for =>  'ids' } ID:
        %input{ :name => 'ids', :type => 'text', :value => @paginator.params["ids"], :style => "width: 8em;" }

        %label{ :for =>  'title' } Title:
        %input{ :name => 'title', :type => 'text', :value => @paginator.params["title"], :style => "width: 20em;"  }

        %label{ :for =>   'content-type' } Content Type:
        %select{ :name => 'content-type' }
          %option{ :value => "" } Any
          %option{ :value => "islandora:sp_basic_image",        :selected => @paginator.is_content_type?("islandora:sp_basic_image")          } Basic Image
          %option{ :value => "islandora:sp_large_image_cmodel", :selected => @paginator.is_content_type?("islandora:sp_large_image_cmodel")   } Large Image
          %option{ :value => "islandora:bookCModel",            :selected => @paginator.is_content_type?("islandora:bookCModel")              } Book
          %option{ :value => "islandora:sp_pdf",                :selected => @paginator.is_content_type?("islandora:sp_pdf")                  } PDF

        %label{ :for =>   'status' } Status:
        %select{ :name => 'status' }
          %option{ :value => "" } Any
          %option{ :value => "warning", :selected => @paginator.is_status?("warning") } Warning
          %option{ :value => "error",   :selected => @paginator.is_status?("error")   } Error

        %input{ :type => 'hidden', :name => 'before', :value => '' }
        %input{ :type => 'hidden', :name => 'after',  :value => '' }

        %br
        %br

        %input{ :style => 'align: right;',  :type => 'submit', :value => "Submit" }
        %input{ :type => 'button', :value => "Get CSV", :onClick => "window.location='#{@paginator.csv_link}'" }
        %input{ :type => 'button', :value => "Clear Form", :onClick => "clearForm($('#filter'));"  }
    %br

    / make these bolder, larger, give more space

    - if @paginator.no_pages? or @paginator.is_first_page_list?
      &lArr;&lArr; First
    - else
      %a{ :href => @paginator.first_page_list }
        &lArr;&lArr; First

    - if @paginator.any_pages? and @paginator.has_previous_page_list?
      %a{ :href => @paginator.previous_page_list }
        &larr; Previous
    - else
      &larr; Previous

    &equiv;

    - if @paginator.any_pages? and @paginator.has_next_page_list?
      %a{ :href => @paginator.next_page_list }
        Next &rarr;
    - else
      Next &rarr;

    - if @paginator.no_pages? or @paginator.is_last_page_list?
      Last &rArr;&rArr;
    - else
      %a{ :href => @paginator.last_page_list }
        Last &rArr;&rArr;
    %br

    %table{ :class => 'packages' }
      %thead
        %tr
          %th{ :style => "width:10%;" } Date
          %th{ :style => "width:10%;" } Status
          %th{ :style => "width:12%;" } Package
          %th{ :style => "width:12%;" } Digitool
          %th{ :style => "width:56%;" } Title
      %tbody
        - @packages.each do |p|
          %tr
            %td
              #{p.time_started.strftime('%F %T')}

            %td
              %a{ :href => "/packages/#{p[:id]}" }
                - case
                - when p.errors?
                  %img{ :src => "/failure.png" }
                  error
                - when p.warnings?
                  %img{ :src => "/warning.png" }
                  warning
                - else
                  %img{ :src => "/success.png" }
                  success

            %td
              - if p.success
                %a{ :target => "islandora", :href => "http://#{@hostname}/islandora/object/#{p.islandora_pid}" }
                  #{p.package_name.to_s + " &rArr;"}
              - else
                #{p.package_name}

            %td
              - if p.digitool_id
                %a{ :target => "digitool", :href => "http://digitool.fcla.edu/R/?func=dbin-jump-full&object_id=#{p.digitool_id}" }
                  #{p.digitool_id.to_s + " &rArr;"}

            %td
              #{p.title or ''}
