!!! 5
%html{ :lang => "en" }

  %head

    %meta{ :charset => "utf-8" }
    %link{ :rel => "stylesheet", :href => "/site.css",  :type => "text/css"  }
    %link{ :rel => "shortcut icon",  :href => "/favicon.ico" }

    %title Ingest Report for Package #{@package.package_name}

  %body

    %h1 Ingest  #{@package.success ? 'Success' : 'Failure' } Report for Package #{@package.package_name} on #{@hostname}

    - if @on_islandora == :present
      Title: #{@package.islandora_description_link(@package.package_name + ": #{@package.title} &rArr;", 'target="islandora"')}
    - else
      Title: #{@package.title}
    %br

    - if @package.digitool_id
      DigiTool ID: #{@package.digitool_link("#{@package.digitool_id} &rArr;", 'target="digitool"')}
      %br

    - if @package.success
      - case @on_islandora
      - when :present
        #{@package.islandora_summary_link(@package.islandora_thumbnail_link, 'target="islandora"')}
      - when :missing
        Package is no longer present on islandora.
      - when :error
        Islandora cannot be reached at the moment - can't access datastreams for display.
      %br

    Ingest Date:  #{@package.time_started.strftime('%F %T')}
    %br

    Processing Time: #{@elapsed}
    %br

    Raw Ingest Size: #{sprintf("%5.2f MB", @package.bytes_ingested/(1024.0*1024.0))}
    %br

    Content Type: #{@package.content_model_title}
    %br

    - unless @components.empty?
      Component Objects (#{@components.length}): #{@components.join(', ')}
      %br

    - unless @purls.empty?
      Purls: #{@purls.join(', ')}
      %br

    - unless @collections.empty?
      Islandora Collections: #{@collections.join(', ')}
      %br

    - if @package.success and @on_islandora == :present
      Datastreams: #{@datastreams.join(', ')}
      %br



    - if @package.errors?
      %h2 Errors
      - @package.get_errors.each do |err|
        #{err}
        %br

    - if @package.warnings?
      %h2 Warnings
      - @package.get_warnings.each do |warn|
        #{warn}
        %br
