!!! 5
%html{ :lang => "en" }

  %head

    %meta{ :charset => "utf-8" }
    %link{ :rel => "shortcut icon",  :href => "/images/favicon.ico" }
    %link{ :rel => "stylesheet", :href => "/jquery-ui.css",  :type => "text/css"  }
    %script{:type => "text/javascript", :src  => "/jquery-1.10.2.min.js"}
    %script{:type => "text/javascript", :src  => "/jquery-1.10.3.ui.js" }
    %link{ :rel => "stylesheet", :href => "/site.css",  :type => "text/css"  }

    :javascript
      $(document).ready(function() {
        $('.packages tbody tr:odd').addClass('odd');
        $('.packages tbody tr:even').addClass('even');
      });

    :javascript
      function clearForm($form) {
        $form.find('input:text, input:password, input:file, select, textarea').val('');
        $form.find('input:radio, input:checkbox').removeAttr('checked').removeAttr('selected');
      };


    :javascript
      $(function() {
        $( "#from" ).datepicker({
          changeMonth: true,
          changeYear: true,
          dateFormat: "yy-mm-dd",
          onClose: function( selectedDate ) {
             $( "#to" ).datepicker( "option", "minDate", selectedDate );
          }
        });
        $( "#to" ).datepicker({
          maxDate: 0,
          changeMonth: true,
          changeYear: true,
          dateFormat: "yy-mm-dd",
          onClose: function( selectedDate ) {
             $( "#from" ).datepicker( "option", "maxDate", selectedDate );
          }
        });
      });

    %title Ingest Report for #{@hostname}

  %body

    - if @paginator.count == @paginator.total
      %h1 Ingest Report for #{@hostname}:  All #{@paginator.total} Digital Objects Selected
    - else
      %h1 Ingest Report for #{@hostname}: #{@paginator.count} of #{@paginator.total} Digital Objects Selected

    %form{ :method => 'get', :id => 'filter' }
      %fieldset
        .full
          .filter_entry
            %label{ :for =>  'from', :style => 'margin-left: 0;' } Date:
            %input{ :name => 'from', :id => 'from', :style => "width: 8em;", :type => 'text', :value => @paginator.params["from"], :class => 'other_button' }
            %input{ :name => 'to',   :id => 'to',   :style => "width: 8em;", :type => 'text', :value => @paginator.params["to"], :class => 'other_button'   }

            %label{ :for =>  'ids' } ID:
            %input{ :name => 'ids', :type => 'text', :value => @paginator.params["ids"], :style => "width: 8em;", :class => 'other_button' }

            %label{ :for =>  'title' } Title:
            %input{ :name => 'title', :type => 'text', :value => @paginator.params["title"], :style => "width: 20em;", :class => 'other_button'  }

            %label{ :for =>   'content-type' } Content Type:
            %select{ :name => 'content-type', :class => 'other_button' }
              %option{ :value => "" } Any
              %option{ :value => "islandora:sp_basic_image",        :selected => @paginator.is_content_type?("islandora:sp_basic_image")          } Basic Image
              %option{ :value => "islandora:sp_large_image_cmodel", :selected => @paginator.is_content_type?("islandora:sp_large_image_cmodel")   } Large Image
              %option{ :value => "islandora:bookCModel",            :selected => @paginator.is_content_type?("islandora:bookCModel")              } Book
              %option{ :value => "islandora:sp_pdf",                :selected => @paginator.is_content_type?("islandora:sp_pdf")                  } PDF

            %label{ :for =>   'status' } Status:
            %select{ :name => 'status', :class => 'other_button' }
              %option{ :value => "" } Any
              %option{ :value => "warning", :selected => @paginator.is_status?("warning") } Warning
              %option{ :value => "error",   :selected => @paginator.is_status?("error")   } Error

            %input{ :type => 'hidden', :name => 'before', :value => '' }
            %input{ :type => 'hidden', :name => 'after',  :value => '' }

        %input{ :style => 'align: right;',  :type => 'submit', :value => "Submit", :class => 'other_button' }
        %input{ :type => 'button', :value => "Clear Form", :onClick => "clearForm($('#filter'));", :class => 'other_button'  }

    .full
      .left
        - if @paginator.no_pages? or @paginator.is_first_page_list?
          %input{ :type => 'button', :value => "<< First", :disabled => true, :class => 'pager_dead' }
        - else
          %input{ :type => 'button', :value => "<< First", :onClick => "window.location='#{@paginator.first_page_list}'", :class => 'pager_button'  }

        - if @paginator.any_pages? and @paginator.has_previous_page_list?
          %input{ :type => 'button', :value => "< Previous", :onClick => "window.location='#{@paginator.previous_page_list}'", :class => 'pager_button'  }
        - else
          %input{ :type => 'button', :value => "< Previous", :disabled => true, :class => 'pager_dead'  }

        &equiv;

        - if @paginator.any_pages? and @paginator.has_next_page_list?
          %input{ :type => 'button', :value => "Next >", :onClick => "window.location='#{@paginator.next_page_list}'", :class => 'pager_button'  }
        - else
          %input{ :type => 'button', :value => "Next >", :disabled => true, :class => 'pager_dead' }

        - if @paginator.no_pages? or @paginator.is_last_page_list?
          %input{ :type => 'button', :value => "Last >>", :disabled => true, :class => 'pager_dead' }
        - else
          %input{ :type => 'button', :value => "Last >>", :onClick => "window.location='#{@paginator.last_page_list}'", :class => 'pager_button'  }
      .right
        - case
        - when @paginator.count > 1
          %input{ :type => 'button', :value => "CSV: download these #{@paginator.count} selected records", :onClick => "window.location='#{@paginator.csv_link}'", :class => 'other_button' }
        - when @paginator.count == 1
          %input{ :type => 'button', :value => "CSV: download this selected record", :onClick => "window.location='#{@paginator.csv_link}'", :class => 'other_button' }

    %table{ :class => 'packages' }
      %thead
        %tr
          %th{ :style => "width:10%;" } Date
          %th{ :style => "width:10%;" } Status
          %th{ :style => "width:12%;" } Package
          %th{ :style => "width:12%;" } Digitool
          %th{ :style => "width:56%;" } Title
      %tbody
        - query_string = @paginator.query_string('before' => nil,  'after' => nil)
        - @packages.each do |p|
          %tr
            %td
              #{p.time_started.strftime('%F %T')}

            %td
              %a{ :href => "/packages/#{p[:id]}" + query_string }
                - case
                - when p.errors?
                  %img{ :src => "/images/failure.png" }
                  error
                - when p.warnings?
                  %img{ :src => "/images/warning.png" }
                  warning
                - else
                  %img{ :src => "/images/success.png" }
                  success

            %td
              - if p.success
                %a{ :target => "islandora", :href => "http://#{@hostname}/islandora/object/#{p.islandora_pid}" }
                  #{p.package_name.to_s + " &rArr;"}
              - else
                #{p.package_name}

            %td
              - if p.digitool_id
                %a{ :target => "digitool", :href => "http://digitool.fcla.edu/R/?func=dbin-jump-full&object_id=#{p.digitool_id}" }
                  #{p.digitool_id.to_s + " &rArr;"}

            %td
              #{p.title or ''}
